@inject OrchardCore.Settings.ISiteService siteService
@using OrchardCore.Entities
@{
    var background =  (await siteService.GetSiteSettingsAsync()).As<TheBootstrapTheme.OrchardCore.BootstrapSettings>().Background;
}
<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    @await RenderSectionAsync("Metas", required: false)
    <link type="image/x-icon" rel="shortcut icon" href="~/TheBootstrapTheme/favicon.ico" />
    <script asp-name="bootstrap" version="4" at="Foot"></script>
    <style asp-name="bootstrap" version="4"></style>
    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />
</head>
<body dir="@Orchard.CultureDir()">
    <header>
    @await RenderSectionAsync("Header", required: false)
    </header>
    <nav class="navbar navbar-expand-lg @(background != "light" ? "navbar-dark" : "") bg-@background">
        <div class="container">
        <a class="navbar-brand" href="~/">@Site.SiteName</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <menu alias="alias:main-menu" cache-id="main-menu" cache-fixed-duration="00:05:00" cache-tag="alias:main-menu" />
            @await RenderSectionAsync("Navbar", required: false)
        </div>
            </div>
    </nav>
    @await RenderSectionAsync("BeforeContent", required: false)
    <main role="main" class="container mt-4">
        @await RenderSectionAsync("Messages", required: false)
        <div class="row">
            <div class="col-lg-12">
                @await RenderBodyAsync()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                @await RenderSectionAsync("AsideFirst", required: false)
            </div>
            <div class="col-sm-4">
                @await RenderSectionAsync("AsideSecond", required: false)
            </div>
        </div>
    </main>
    @await RenderSectionAsync("AfterContent", required: false)
    @await RenderSectionAsync("Footer", required: false)
    <resources type="FootScript" />
</body>
</html>
